<bb-orientation-layout-container (click)="navigateTo()">
  <div class="flex justify-center items-center w-full mt-[10vw] mb-[10vw] relative group cursor-pointer" portrait>
    <bb-image-view class="group-hover:scale-110 transition-transformation duration-500" [src]="'/next_page_button_' + color + '.png'" alt="" width="60vw"/>
    <bb-text-view class="group-hover:scale-105 transition-transformation duration-500 absolute text-[6vw] font-bold" size="custom" color="bb-ivory">{{ text }}</bb-text-view>
    <bb-text-view class="absolute bottom-[-10vw] text-[9vw] font-bold" size="custom" [color]="'bb-'+color">v</bb-text-view>
  </div>

  <div (click)="navigateTo()" class="flex justify-center items-center w-full mt-[5vw] mb-[5vw] relative group cursor-pointer" landscape>
    <bb-image-view class="group-hover:scale-110 transition-transformation duration-500" [src]="'/next_page_button_' + color + '.png'" alt="" width="20vw"/>
    <bb-text-view class="group-hover:scale-105 transition-transformation duration-500 absolute text-[2vw] font-bold" size="custom" color="bb-ivory">{{ text }}</bb-text-view>
    <bb-text-view class="absolute bottom-[-2vw] text-[3vw] font-bold opacity-0 group-hover:opacity-100 group-hover:translate-y-[2vw] transition-all duration-500 " size="custom" [color]="'bb-'+color">v</bb-text-view>
  </div>
</bb-orientation-layout-container>
