<div class="w-full h-fit flex flex-col pt-[5vw] pl-[4vw] pb-[5vw] gap-[7vw] relative">
  <!-- Info Text 1 -->
  <div>
    <bb-text-view>{{ 'oslo.info-text-1' |textContent }}</bb-text-view>
  </div>

  <!-- Info Graphic -->
  <div class="flex justify-center gap-[15vw]">
    <div class="w-fit flex flex-col items-center">
      <bb-text-view class="text-[2.2vw] font-bold p-[1vw]" size="custom" color="bb-ruby">1815</bb-text-view>
      <div class="grid grid-cols-10 gap-[0.3vw]">
        @for (index of indexList(141); track index) {
          <bb-image-view src="oslo/C7.1.png" alt="" width="1.3vw"></bb-image-view>
        }
      </div>
    </div>
    <div class="w-fit flex flex-col items-center">
      <bb-text-view class="text-[2.2vw] font-bold p-[1vw]" size="custom" color="bb-ruby">2015</bb-text-view>
      <div class="grid grid-cols-10 gap-[0.3vw]">
        @for (index of indexList(438); track index) {
          <bb-image-view src="oslo/C7.1.png" alt="" width="1.3vw"></bb-image-view>
        }
      </div>
    </div>
  </div>

  <!-- Info Text 2 -->
  <div>
    <bb-text-view>{{ 'oslo.info-text-2' |textContent }}</bb-text-view>
  </div>

  <!-- Spacer -->
  <div class="h-[10vw]"></div>

  <!-- Info Text 3 -->
  <div>
    <bb-text-view>{{ 'oslo.info-text-3' |textContent }}</bb-text-view>
  </div>

  <!-- Info Sticker -->
  <div class="absolute h-fit w-fit bottom-[17vw] right-[5vw]">
    <bb-image-view src="oslo/C7.2.png" alt="" width="34vw"></bb-image-view>
    <bb-text-view class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-nowrap w-full"
                  size="text" color="bb-ivory">{{ 'oslo.info-text-4' | textContent }}
    </bb-text-view>
  </div>
</div>
